button {
  width: 100%;
  padding: 14px;
  margin-top: 16px;
  background-color: #8A05BE;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:active {
  background-color: #610386;
}

button:disabled {
  background-color: #c48bd6;
  cursor: not-allowed;
}
